@use "@/styles/variables";

.card-grid {
  width: fit-content;
  width: -webkit-fit-content;
  margin: 0 auto;
  display: grid;
  gap: 16px;
  &.easy {
      grid-template-columns: repeat(2, 1fr);
  }

  &.medium {
    grid-template-columns: repeat(4, 1fr);
  }

  &.hard {
    grid-template-columns: repeat(6, 1fr);
  }

  &-info {
    margin-bottom: variables.$spacing-md;
    text-align: center;
  }

  &-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: variables.$font-lg;
    margin-bottom: variables.$spacing-lg;

    &-best {
      font-size: variables.$font-sm;
    }
  }
}