$font-family-base: 'Open Sans', system-ui, -apple-system, sans-serif;

$font-sm: 12px;
$font-md: 16px;
$font-lg: 18px;

$spacing-sm: 14px;
$spacing-md: 16px;
$spacing-lg: 24px;

$card-width: 80px;
$card-height: 100px;

